# توکن ربات تلگرام
BOT_TOKEN=8563580960:AAGpJiOVvzAzAVeIl5bD8546sX45OiEv1o4

# API های تلگرام
API_ID=3516317
API_HASH=5bb2948db3031dda29858104ada18631
PHONE_NUMBER=+989378038736

# ادمین‌ها (با کاما جدا کنید)
ADMIN_IDS=7343696403

# Cloudflare
CF_ACCOUNT_ID=your_account_id
CF_API_TOKEN=your_api_token
