# ============================================================
# 🚀 تنظیمات ربات سارا سلف
# ============================================================

# ===== تنظیمات تلگرام =====
API_ID=21052688
API_HASH=dff2dac0409ffb456f3336ebb56f7d6c
BOT_TOKEN=توکن_ربات_اینجا

# ===== شماره برای لاگین =====
PHONE_NUMBER=+989378038736
PASSWORD=

# ===== ادمین =====
ADMIN_IDS=7343696403

# ===== Cloudflare =====
CF_ACCOUNT_ID=87c5f4ae30155cfb7d472759b48d53ed
CF_API_TOKEN=cfut_FjifYcjzo3QZqPWMaVtY0QqlNjHkjVepkBHtUnnc7f9a1f89

# ===== تنظیمات پیشرفته =====
DEBUG_MODE=false
LOG_LEVEL=INFO
